.an-details {
    position: fixed;
    top: 0px !important;
    left: 0;
    height: 100%;
    width: 100%;
    background: white;

    img {
        width: 100%;
        height: 30%;
        border-radius: 0 !important;
    }

    button {
        background: $color-cyan;
        color: white;
        display: block;
        margin: 15px auto 0 auto;
        width: 230px;
        border-radius: 10px;

        &:hover {
            background: $color-cyan;
            color: white;
        }
    }
}

.an-text {
    text-align: right;
    height: 58%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.an-bottom {
    color: $color-cyan;

    span {
        color: black
    }
}

.an-text {
    padding: 0 10px;
    padding-top: 15px;
}

@media only screen and (max-width: 768px) {
// .an-details{
//     position: fixed;
//     top: 0 !important;
// }
}

@media only screen and (min-width: 426px) {
    .an-details {
        img {
            height: 40% !important;
        }

        button {
            font-size: 25px !important;
            margin: 65px auto 0 auto !important;
        }
    }

    .an-text {
        font-size: 20px !important;
    }

    .an-bottom {
        font-size: 22px !important;

    }
    .an-text {
        height: 40%;
    }
}

@media only screen and (min-width: 769px) {
    .an-details {
        position: absolute;
        left: 0;
        top: 0 !important;
        background: white;
        width: 38.6%;
        margin: 36px 0 0 27px;
        height: 90%;
        border-radius: 10px;
        img{
            border-radius: 3% 3% 0 0 !important;
        }
    }

    .an-details {
        .btn {
            display: none;
        }
    }

    .an-bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-end;
    }

    .an-text {
        height: 54%;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .an-text {
        .an-top {
            font-size: 15px !important;
        }
        .an-bottom {
            font-size: 15px !important;

        }
    }
    // .an-details {
    //     left: 9px;
    //     top: 12px !important;
    //     width: 39% !important;
    // }
}
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
    .an-details {
        // left: 9px;
        // top: 12px !important;
        // width: 39% !important;
        margin: 3.5% 0 0 3% !important;
    }
    .an-text {
 
        .an-top {
            font-size: $desktop-md-text-fontSize !important;
        }

        .an-bottom {
            font-size: $desktop-md-text-fontSize !important;

        }

    }
}
@media only screen and (min-width: 1441px) {
    .an-details {
        // width: 38% !important;
        // left: 1.4% !important;
        // top: 4.4% !important;
        margin: 3.3% 0 0 2%;
    }
    .an-text {
        .an-top {
            font-size: $desktop-xs-text-fontSize !important;
        }

        .an-bottom {
            font-size: $desktop-xs-text-fontSize !important;

        }

    }

}