.an-details{
        height: 100%;
        background: white;
    img{
        width: 100%;
        height: 30%;
    }
    button{
        background:$color-cyan;
        color:white;
        display: block;
        margin: 15px auto 0 auto;
        width: 230px;
        border-radius: 10px;
        &:hover{
            background: $color-cyan;
            color: white;
        }
    }
}
.an-text{
    text-align: right;
    height: 58%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.an-bottom{
    color:$color-cyan;
    span{
        color:black
    }
}
@media only screen and (max-width: 768px) {
    .an-text{
        text-align: right;
        padding: 0 10px;
        .an-p{
            padding-top: 15px;
        }
    }
}
@media only screen and (min-width: 426px){
    .an-details{
        img{
            height: 40% !important;
        }
        button{
            font-size: 25px !important;
            margin: 65px auto 0 auto !important;
            }
    }
    .an-p{
            font-size: 20px !important;
        }
    .an-bottom{
        font-size: 22px !important;

    }
    .an-text{
        height: 45%;
    }
}
@media only screen and (min-width: 769px) {
    .an-details{
        display: none;
    }
}
