.a-left {
    display: none;
}

.an-main {
    height: 100%;
}

.announceList {
    height: 100%;
    padding-left: 0;

    .an-li {
        height: 100px;
        margin-bottom: 10px;
        direction: rtl;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

.a-right {
    height: 100%;
    padding: 0 10px;
    background: white;
    padding-top: 10px;

    img {
        width: 85px;
        height: 90px;
        border-radius: 10px;
        // float: right;
    }
}

.an-left {
    height: 85px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 12px;

    // float: left;
    h4 {
        font-size: 12px;
        font-weight: bold;
    }

    p {
        font-size: 10px;
        margin-bottom: 0;
        text-align: right;
    }
}

@media only screen and (max-width: 768px) {
    .a-left {
        display: none;
    }

    .an-main {
        height: 100%;
    }

    .announceList {
        height: 100%;
        padding-left: 0;

        .an-li {
            height: 100px;
            margin-bottom: 10px;
            direction: rtl;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
    }

    .a-right {
        height: 100%;
        padding: 0 10px;
        background: white;
        padding-top: 10px;
        height: 100%;

        img {
            width: 85px;
            height: 90px;
            border-radius: 10px;
            // float: right;
        }
    }

    .an-left {
        height: 85px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-right: 12px;

        // float: left;
        h4 {
            font-size: 12px;
            font-weight: bold;
        }

        p {
            font-size: 10px;
            margin-bottom: 0;
            text-align: right;
        }
    }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
    .an-left {
        width: 70%;

        p {
            font-size: 12px;
        }
    }
}

@media only screen and (min-width: 769px) {
    .a-left {
        display: block;
    }
    .a-right {
        width: 45%;
        float: right;
        margin: 73px 10px 0 0;
        height: 80%;
        border-radius: 10px;
    }

    .a-left {
        width: 45%;
        float: left;
        margin: 73px 0 0 40px;
        height: 80%;
        border-radius: 10px;
        background: white;
    }
    .an-left{
        h4{
            font-size: 13px;
        }
        p{
            font-size: 12px;
            height: 59px;
        }
    }
}

// @media only screen and (min-width: 1025px) and (max-width: 1440px) {
// }
@media only screen and (min-width: 1441px) {
    .an-left{
        height: 125px;
        h4{
            font-size: 22px;
        }
        p{
            font-size: 20px;
            height: 100%;
        }
    }
    .a-right {
        height: 80% !important;
        padding: 0 10px;
        background: white;
        padding-top: 10px;
        height: 100%;

        img {
            width: 140px;
            height: 140px;
            border-radius: 10px;
            // float: right;
        }
    }
    .an-li{
        height: 160px !important;
    }
}