body,html{
    margin:0;
    padding: 0;
    // direction: rtl;
    min-height: 100% !important;
    height: 100% !important;
    width: 100% !important;
}
ol, ul {
	list-style: none;
}
a{
    text-decoration: none !important;
}
#root{
    height: 100%;
}