@media only screen and (max-width: 768px) {
    .rightItem {
        display: none;
    }

    .rmdp-week-day {
        background: black !important;
        color: white !important;
        border-radius: 10px;
        margin: 0 1px;
    }

    .sd {
        background-color: #f5f5f5;
        color: #000;
        border-radius: 10px !important;
    }

    .itemTittle {
        display: none;
    }

    .rmdp-wrapper {
        margin-inline: auto;
    }

    .itemHeader {
        p {
            @include itemHeader();
        }
    }

    .itemCardTittle {
        position: relative;
        text-align: center;
        bottom: 133px;
        font-size: 15px;
        background: white;
        height: 42px;
        padding-top: 10px;
    }

    .cardItem {
        img {
            border-radius: 10px;
            max-height: 260px;
        }
    }

    .rmdp-day {
        height: 40px !important;
        width: 40px !important;
    }

    .rmdp-week-day {
        height: 38px !important;
        width: 38px !important;
    }

    .rmdp-week {
        margin-bottom: 5px;
    }

}

@media only screen and (min-width: 321px) and (max-width: 375px) {
    .rmdp-day {
        height: 48px !important;
        width: 48px !important;
    }

    .rmdp-week-day {
        height: 46px !important;
        width: 46px !important;
    }

}

@media only screen and (min-width: 376px) and (max-width: 425px) {
    .rmdp-day {
        height: 53px !important;
        width: 53px !important;
    }

    .rmdp-week-day {
        height: 53px !important;
        width: 53px !important;
    }

}

@media only screen and (min-width: 426px) and (max-width: 768px) {
    .cardItem {
        img {
            max-height: 390px;
        }
    }

    .leftItem {
        display: flex !important;
        flex-direction: row !important;
        justify-content: center !important;
        // height: 500px;
    }

    .rightItem {
        margin-top: 40px;
        background: white;
        border-radius: 10px;
        width: 97%;
        margin: 20px auto;
    }

    .itemsHeader {
        text-align: center;
        padding: 12px 0 20px 0;
        font-size: 18px;
        font-weight: bold;
    }

    .cards {
        width: 97%;
        min-height: 170px !important;
        background: rgb(18, 67, 87);
        margin: 0 auto;

        .card {
            font-size: 12px;
            width: 107px !important;
            padding: 6px !important;
        }

        .row {
            padding-top: 10px !important;
        }
    }

    .itemBottom {
        width: 100%;
        height: 128px;
    }

    .rightSection {
        float: right;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin: 0 17px 17px 0;

        button {
            background: $color-cyan;
            color: white;
            width: 170px;
            border-radius: 20px;

        }

        hr {
            border: 1px solid;
            width: 97%;
            margin: 22px auto;
            border-radius: 15px;
        }
    }

    .leftSection {
        float: left;
        margin: 30px 0 0 12px;
    }

    .payButton {
        background: #E8E8E8;
        color: black;
        border-radius: 130px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 10px;
        width: 300px;
        height: 36px;
        padding-right: 4px;

        .circle {
            background: white;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin-left: 10px;
        }
    }
}


@media only screen and (min-width: 1024px) {
    hr {
        border: 1px solid;
        width: 97%;
        margin: 22px auto;
        border-radius: 15px;
    }

    .itemHeader {
        display: none;
    }

    .cardItem {
        display: none;
    }

    .rmdp-week-day {
        background: black !important;
        color: white !important;
        border-radius: 10px;
        margin: 0 1px;
    }

    .sd {
        background-color: #f5f5f5;
        color: #000;
        border-radius: 10px !important;
    }

    .itemTittle {
        text-align: center;
        margin-top: 33px;
        font-weight: 400;
        font-size: 30px;
    }

    .rmdp-wrapper {
        margin: 40px 0 0 30px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .leftItem {
        float: left;
    }

    .rightItem {
        float: right;
        width: 60%;
        margin-top: 40px;
        background: white;
        border-radius: 10px;
        margin-right: 2%;
    }

    .itemsHeader {
        text-align: center;
        padding: 12px 0 20px 0;
        font-size: 18px;
        font-weight: bold;
    }

    .cards {
        width: 97%;
        min-height: 196px !important;
        background: rgb(18, 67, 87);
        margin: 0 auto;

        .card {
            font-size: 12px;
            width: 107px !important;
            padding: 6px !important;
        }

        .row {
            margin: 0 !important;
        }
    }

    .rightSection {
        float: right;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin: 0 17px 17px 0;

        button {
            background: $color-cyan;
            color: white;
            width: 170px;
            border-radius: 20px;

        }

        hr {
            border: 1px solid;
            width: 97%;
            margin: 22px auto;
            border-radius: 15px;
        }
    }

    .leftSection {
        float: left;
        margin: 30px 0 0 12px;
    }

    .payButton {
        background: #E8E8E8;
        color: black;
        border-radius: 130px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 10px;
        width: 300px;
        height: 36px;
        padding-right: 4px;

        .circle {
            background: white;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin-left: 10px;
        }
    }
}

@media only screen and (min-width: 1024px) {
    .itemsHeader {
        text-align: center;
        padding: 12px 0 20px 0;
        font-size: 18px;
        font-weight: bold;
    }

    .rightSection {
        float: right;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin: 0 17px 17px 0;
        font-size: 12px;


    }

    .leftSection {
        float: left;
        margin: 30px 0 0 12px;
    }

    .payButton {
        background: #E8E8E8;
        color: black;
        border-radius: 130px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 10px;
        width: 265px;
        height: 36px;
        padding-right: 4px;
        font-size: 12px;

        .circle {
            background: white;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin-left: 10px;
        }
    }
}

@media only screen and (min-width: 1025px) {
    .leftItem {
        float: left;
    }

    .rightItem {
        float: right;
        width: 70%;
        margin-top: 40px;
        background: white;
        border-radius: 10px;
        margin-right: 2%;
    }

    .itemsHeader {
        text-align: center;
        padding: 12px 0 20px 0;
        font-size: 18px;
        font-weight: bold;
    }

    .cards {
        width: 97%;
        min-height: 200px;
        background: rgb(18, 67, 87);
        margin: 0 auto;

        .card {
            font-size: 12px;
            width: 107px !important;
            padding: 6px !important;
        }

        .row {
            margin: 0 !important;
        }
    }

    .rightSection {
        float: right;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin: 0 17px 17px 0;
        font-size: 12px;

        button {
            background: $color-cyan;
            color: white;
            width: 170px;
            border-radius: 20px;

        }

        hr {
            border: 1px solid;
            width: 97%;
            margin: 22px auto;
            border-radius: 15px;
        }
    }

    .leftSection {
        float: left;
        margin: 30px 0 0 12px;
    }

    .payButton {
        background: #E8E8E8;
        color: black;
        border-radius: 130px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 10px;
        width: 265px;
        height: 36px;
        padding-right: 4px;
        font-size: 12px;

        .circle {
            background: white;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin-left: 10px;
        }
    }
}