.mainDate {
    height: 100%;
}

.menu {
    display: none;
}

@media only screen and (max-width: 425px) {
    .dateHeader {
        @include itemHeader();
    }

    .resevtionItem {
        @include backgroundColor();

        p {
            text-align: center;
            width: 174px;
            display: block;
            margin: 0 auto;
            padding: 14px 0;
        }

        height: 240px;
    }

    .reserveCart {
        background: white;
        height: 140px;
        width: 100%;
    }

    .reserveTime {
        height: 350px;
        background: #2b5af3;
        margin-bottom: 40px;
        width: 80%;
        height: 65%;
        margin-top: 7%;
    }

    .reservationBottom {
        height: 435px;
        background: #bbbbbb;
        display: flex;
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .reserveBotton {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 10px;

        button {
            color: white;
            font-size: 12px;
            width: 110px;
            border-radius: 10px !important;
        }

        button:nth-child(1) {
            background: $color-black;
        }

        button:nth-child(2) {
            background: $color-cyan;
        }
    }

    .reserveCart {
        overflow-x: scroll;
        // display: flex;
        // flex-direction: row;
        // flex-wrap: nowrap;
        // align-content: center;
    }

    .card {
        text-align: center;
        border: none !important;
        background: $color-cyan  !important;
        color: white;
        font-size: 16px;
        min-width: 143px;
        max-height: 116px;
        padding: 5px !important;
    }

    .row {
        flex-wrap: nowrap !important;
        justify-content: flex-start !important;
        align-items: center !important;
    }

}

@media only screen and (min-width: 376px) and (max-width: 425px) {
    .reserveBotton {
        button {
            font-size: 15px;
            width: 130px;

        }
    }
}