.btn {
    // background: $color-cyan;
}

.card {
    width: 9rem !important;
}
.card-img-top{
    height: 110px;
    
}
@media only screen and (max-width: 768px) {
    .menu {}

    .card {
        width: 9rem !important;
        margin: 10px 5px 5px 5px;
        padding: 0 !important;
        height: 130px;

        img {
            height: 128px;
            border-radius: 5px;
        }
    }

    .card-img-overlay {
        padding: 0 !important;

        .card-title {
            background: white;
            width: 100%;
            text-align: center;
            position: absolute;
            bottom: 15px;
            height: 22px;
            font-size: 15px;
            color: black;
        }

        button {
            display: none;
        }
    }
    .card-group{
        justify-content: center;
    }
    .row {
        justify-content: center;
        width: 100%;
        margin: 0 !important;
    }
    

}

@media only screen and (min-width: 769px) {

    .card {
        margin-top: 15px !important;
        padding: 0 !important;
        width: 10rem !important;
        margin: 10px 5px 5px 5px;
        text-align: center;
        border: none !important;
    }
    

    .card-title {
        font-size: 15px;
        color: black;
    }

    .card-body {

        button {
            width: 100%;
            justify-content: center;
            background: $color-cyan;
            border: none;
            padding: 0 0 7px 0;
        }
    }

    .row {
        justify-content: center;
        width: 100%;
    }
}



