// @font-face{
//     font-family: sahel;
//     src: url('../fonts/Sahel.eot');
//     src:url('../fonts/Sahel.ttf') format('ttf'),url('../fonts/Sahel.woff') format('woff');
//     font-weight: normal;
//    }

$color-black:black;
$color-white:#fff;
$color-gray:#707070;
$color-cyan:#05C0E6;


// --------------------fontSize---------------------------
$tablet-icons-size:25px;
$mobile-icons-size:35px;
$desktop-menu-fontSize: 15px;
$tablet-menu-fontSize: 12px;
// ----------------------mixin-----------------------------
@mixin backgroundColor {
    background: rgb(255,255,255);
    background: linear-gradient(148deg, rgba(255,255,255,1) 0%, rgba(255,243,226,1) 50%, rgba(239,245,255,1) 100%);
}