



.active{
    display: block;
}
.deactive{
    display: none;
}
.background{
    background: rgb(255,255,255);
    background: linear-gradient(148deg, rgba(255,255,255,1) 0%, rgba(255,243,226,1) 50%, rgba(239,245,255,1) 100%);
}
@media only screen and (min-width: 456px) {
.main {
    @include backgroundColor();
    min-height: 624px;
    float: right;

    .sideBar {
        width: 100%;
    }
}

.menuLogo>span {
    font-size: 44px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.items {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    li {
            margin: 0 20px 18px 0;
            font-size: $desktop-medium-fontSize;
    
            span {
                    font-size: 20px;
                    padding-left: 0.3rem;
                }
    }
}
}
@media only screen and (max-width: 425px) {
    .items {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 15px;
    
        li {
            margin: 0 40px 18px 0;
            font-size: $desktop-medium-fontSize;
            color:$color-gray;
            span {
                font-size: $mobile-icons-size;
                padding-left: 1.5rem;
            }
        }
        li:last-child{
            color:#E605D0;
        }
    }
    .menuLogo>span {
        font-size: 80px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    .main {
        width: 100%;
        min-height: 1000px;
        
    }

    .navbarMenu {
        background: $color-white;
        width: 100%;
        height: 30px;
        padding: 4px 0 0 7px;
    }

    .user {
        @include backgroundColor();
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        height: 70px;

        .icon-user{
            font-size: $mobile-icons-size;
            background: #05C0E6;
            width: 55px;
            display: flex;
            height: 55px;
            justify-content: center;
            align-items: center;
            border-radius: 40px;
            color: white;
            margin: 0 32px 0 14px;
            border:1px solid #000
        }
        .userDetails{
            text-align: center;
            height: 47px;
            h4{
                font-size: 17px;
                // font-weight: 400;
            }
            p{
                font-size: 11px;
            }
        }
    }
}